body{
    margin: 0px;
    padding: 0px;
}

/*navbar*/
.navbar{
    background-color: transparent;
    margin: 0 100px;
    transition: background-color 0.3s ease;
}

.navbar .fixed-top {
    position: fixed;
    top: 0;
    z-index: 9999;
}

.navbar-scrolled{
    background-color: #333;
}

.collapse .navbar-nav a{
    color: white;
    margin: 0 20px;
    padding: 10px;
}

.collapse .navbar-nav a:hover{
    color: #FF9900;
    transition: 0.4s;
}

.navbar-nav a.nav-link-active{
    color: #FF9900;
    text-decoration: none;
}

.navbar-nav .btn-outline-warning{
    color: #FF9900;
    border-radius: 7px;
    font-size: medium;
    width: 100px;
    height: 40px;
    margin-top:5px;
    margin-left: 50px;
    transition: 0.4s;
}

.navbar-nav .btn-outline-warning:hover{
    color: black;
    background-color: #FF9900;
}

.navbar-nav .btn-warning{
    color: white;
    background-color: #FF9900;
    border-radius: 7px;
    font-size: medium;
    width: 100px;
    height: 40px;
    margin-top:5px;
    margin-left: 20px;
    transition: 0.4s;
}

.navbar-nav .btn-warning:hover{
    color: black;
    background-color: #FF9900;
}

/* jumbotron */

.jumbotron{
    background-image: url(jumbotron.png);
    background-repeat: no-repeat;
    background-color: #FF9900;
    height: 700px;
    display: flex;
    justify-content: space-around;
}

.jumbotron .main-1{
    margin-top: 230px;
}

.jumbotron .main-1 h1{
    color: white;
    font-size: 50px;
}

.jumbotron .main-1 .button-main{
    display: flex;
    justify-content: space-around;
}

.jumbotron .main-1 .button-main button{
    font-size: smaller;
    color: white;
    background-color: #FF9900;
    border-radius: 8px;
}

.jumbotron .main-1 .button-main button:hover{
    background-color: #ffffff;
    color: #FF9900;
    transition: 0.4s;
}

.jumbotron .main-2{
    margin-top: 230px;
}

.jumbotron .main-2 img{
    height: 190px;
}

.about h3{
    color: #FF9900;
    text-align: center;
    margin-top: 60px;
}

.about p{
    padding: 0 180px;
    text-align: center;
}

.about .container{
    display: grid;
    grid-template-columns: auto auto;
    justify-items: center;
    margin-top: 20px;
    margin-bottom: 40px;
    gap: 40px;
}

.about .container .card{
    width: 350px;
    height: 220px;
    
}

.about .container .card h5{
    margin: 30px 0 0 20px;
}

.about .container .card p{
    padding: 30px 20px 0 20px;
    text-align: justify;
}

/* tim kami */
.tim{
    background-color: white;
    height: 650px;
}

.tim .bg-tim{
    background-color: #D9D9D9;
    height: 500px;
}

.tim h3{
    padding-top: 45px;
    text-align: center;
}

.tim p{
    margin-top: -15px;
    text-align: center;
}

.tim .container-tim{
    display: grid;
    grid-template-columns: auto auto auto;
    justify-items: center;
    margin-bottom: 20px;
    gap: 20px;
}

.tim .container-tim .card-tim{
    height: 260px;
    width: 240px;
    background-color: #FF9900;
}

.tim .container-tim .card-tim img{
    display: block;
    margin: 20px auto 0 auto;
    height: 200px;
}

.tim .container-tim .card-tim p{
    margin-top: 15px;
}

footer{
    margin-top: 20px;
    margin-bottom: -15px;
    border-top: 0.3px solid #D9D9D9;
    text-align: center
}
